<div class='well'>
  <h5>Two Factor Authentication Enabled for <%= @user.username %></h5>
  <small>We have sent you a text with a 5 digit code. Please enter it below.</small>
  <p>
    <%= form_tag '/twofactor' do %>
      <div class='control-group'>
        <%= label_tag :pin, '5 Digit Code' %>
        <%= text_field_tag :pin %>
      </div>
      <%= submit_tag 'Sign in', class: 'btn btn-default' %>
    <% end %>
  </p>
</div>
