<%= render 'shared/form_error', error_object: @user %>
<div class='well'>
  <%= form_for @user do |f| %>
    <div class='control-group'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='control-group'>
      <%= f.label :time_zone %>
      <%= f.time_zone_select(:time_zone,
            ActiveSupport::TimeZone.us_zones,
            default: Time.zone.name) %>
    </div>
    <div class='control-group form-inline checkbox'>
      <%= f.label :two_factor, 'Use Two Factor Authentication?' %>
      <%= f.check_box :two_factor %>
    </div>
    <div class='control-group'>
      <%= f.label :phone do %>
        Phone Number <small>(For Two Factor Authentication)</small>
      <% end %>
      <%= f.text_field :phone %>
    </div>
    <%= f.submit @user.new_record? ? 'Create Account' : 'Update Profile', class: 'btn btn-primary' %>
  <% end %>
</div>
