<% if logged_in? && (current_user == @post.creator) %>
  <p class='pull-right'>
    [<%= link_to 'Edit Post', edit_post_path(@post) %>]
  </p>
<% end %>
<p>
  <%= render @post.categories %>
</p>
<%= link_to @post.title, fix_url(@post.url) %>
<%= render 'shared/content_title', title: @post.title %>
<p>
  <%= @post.description %>
</p>
<% if logged_in? %>
  <hr />
  <%= form_for [@post, @comment] do |f| %>
    <%= render 'shared/form_error', error_object: @comment %>
    <div class='control-group'>
      <%= f.label :body, 'Leave a Comment' %>
      <%= f.text_area :body, rows: 3, class: 'span4' %>
    </div>
    <br>
    <%= f.submit 'Create Comment', class: 'btn btn-primary' %>
  <% end %>
<% end %>
<hr />
<h5>Comments:</h5>
<% @post.comments.sort_by { |x| x.comment_vote_total}.reverse.each do |comment| %>
  <%= render 'shared/comments', comment: comment %>
<% end %>
